body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: black;
    overflow-x: hidden;
}

.caja1{
    width: 80px;
    height: 80px;
    background-color: aqua;
}
.animacion{
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    gap: 40px;
    padding: 40px;
    justify-content: center;
}
.animacion-caja{
    background: rgb(238, 12, 12);
    width: 230px;
    height: 400px;
}
.animacion1{
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    gap: 40px;
    padding: 40px;
    justify-content: center;
}
.animacion-caja1{
    background: rgb(87, 3, 241);
    width: 230px;
    height: 400px;
}